/*This aligns the content in the center of the page*/
* {
	margin: 0;
	padding: 0;
	/*box-sizing: border-box;*/
	/*align-items: center;*/

}

body {
	font-size: 18px;
	font-family: "Poppins", sans-serif;
}

.banner {
	display: none;
	font-size: 1em;
	background-color: #1d97af;
	color: white;
	padding-top: 1em;
}

.banner_stuff {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.banner_text {
	margin-left: 2em;
	margin-right: 2em;
}

header {
	background-color: #DCF4F9;
	/*padding: 5px 0;*/
	position: relative;
	/*display: flex;*/
	/*align-items: center;
	justify-content: space-between;
	max-width: 900px;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;*/

}

.header-contents {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 400px;
	margin-bottom: 20px;
	padding-top: 1em;
}

#top_logo {
	max-width: 12em;
	height: auto;
	padding-left: 1em;
	padding-right: .5em;
}

.social_icon{
	max-width: 1.5em;
	height: auto;
	/*padding-left: .5em;*/
}

.socials {
	padding-right: .5em;
}

#datebox {
	background-color: #00003D;
	padding: .3em;
	margin-top: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}
.date {
	padding: .5em;
	font-size: small;
	/*background-color: blueviolet;*/
	color: white;
}
/*
header section {
	
font-size: 1em;
padding-left: .5em;
	
}
*/
  /*this makes the hamburger menu*/
  /*by setting the header position to relative and the nav to absolute, the
  nav box can cover the rest of the header when checked. Then I can expand it's size to make
  the buttons easier to use*/ 


nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #B6B0BF;
	position: absolute;
	top: 15px;
	right: 25px;
	z-index: 3;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #00003D;
	font-weight: 700;
	font-size: 1.5em;
	transition: 0.5s;
	font-size: 1em;
}

#menu::before {
	content: "≡";
	font-size: 2rem;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #00003D;
}


.responsive li {
	display: block;
	/*this makes the navigation links larger after they're clicked*/
	padding: 2em;
	font-size: 1em;
}

.responsive #menu::before {
	content: "X";
}

header h1 {
    display: none;
}

.boxy, .spotlights{
	padding: 2em;
	background-color:#cbc7d1;
	border-style: solid;
	border-color: #00003D;
	border-width: .1em;
	display: flex;
	flex-direction: column;
	margin: .5em;
	color:#00003D;
	/*max-width: 380px;*/
}



.special {
	/*padding: 2em;
    background-color: #cbc7d1;
    border-style: solid;
    border-color: #00003D;
    border-width: .1em;*/
    display: flex;
    flex-direction: column;
	align-items: center;
	margin-top: .5em;
    /*margin: .5em;
    color: #00003D;*/
    /* max-width: 380px; */
}

#crazy {
	position: relative;
	

}


#welcome {
	padding-top: 1em;
	font-family: "forum, serif";
	font-size: 1.5em;
	color: whitesmoke;
	text-shadow: 2.5px 2.5px 6px #00003D;
	
}

#herofix {
	position: absolute;
	align-items: center;
}

#herojoin {
    background-color: #DCF4F9;
	border-radius: .7em .7em .7em .7em;
	opacity: .9;
    box-shadow: 2.5px 2.5px 3px 2px whitesmoke;
	font-size: .85em;
	margin-top: 9em;
	margin-left: 10em;
	padding-top: 1em;
	padding-left: 1em;	
}

#herojoin:hover {
	background-color: #3DC3E1;
}

#herolink {
	text-decoration: none;
	color: #00003D;
	font-weight: bold;
}


  
  /* visited link */
#herolink:visited {
	color: #00003D;
  }
  
  /* mouse over link */
#herolink:hover {
	color: whitesmoke;
  }
  
  /* selected link */
#herolink:active {
	color: #00003D;
  }



.title {
	/*background-color: lavenderblush;*/
	font-size: 1em;
	font-weight: bold;
	/*margin-top: -5em;
	margin-left: -5em;
	margin-bottom: 4em;*/
	padding-bottom: 1em;
	display: flex;
	flex-direction: row;
	align-self: center;

}

.boxy p {
	display: flex;
	align-self: center;
	font-size: .85em;
}



#event_figure {
	display: none;
}



#weather div{
	background-color:  #DCF4F9;
	border: none;
	display: block;
}

#weather-icon {
	width: 10em;
	height: auto;
}





#weather span {
 margin-left: 4px;
 margin-right: 2px;
}



#weather figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	background-color: whitesmoke;
	border: .5em solid #00003D;
	border-radius: .5em;
}

#weather figcaption {
	font-size: 1em;
	text-decoration: none;
	text-transform: capitalize;
	margin-bottom: 2em;
}






h3 {
	padding: .5em;
}



/*container for spotlight containers*/
.spotlights {
	display: block;
	/*background-color:pink;*/
	padding: 2em;
	border-style: solid;
	border-width: .1em;
	padding: .5em;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#spotlight_title {
	font-size: 1em;
    font-weight: bold;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    align-self: center
}

.spotlight {
	margin: .5em;
	border-style: solid;
	border-width: 0.1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: .5em;
	background-color: whitesmoke;
}

.spotTitle {
	font-size: 1em;
	align-self: center;
}

.spotAddress {
	font-size: 1em;
	align-self: center;
}

.spotWeb {
	font-size: 1em;
	text-decoration: none;
	align-self: center;
}

.spotWeb:link {
	color: #00003D;
}

.spotWeb:hover {
	color: #E07A52;
}

.spotWeb:active {
	color: #1D97AF;
}

.spotweb:visited {
	color: #1D97AF;
}

.spotImg {
	max-width: 200px;
	height: auto;
	align-self: center;
	
}
/*spotlight containers*/
#spotlight1, #spotlight2{
	/*background-color: aqua;*/
	padding: 4em;
	border-style: solid;
	border-width: .1em;
}

#spotlight3 {
	display: none;
}

/*headings in spotlight*/
   .spotty {
	/*background-color: lime;*/
	margin-top: -5em;
	margin-left: -5em;
	font-size: .6em;
}


 footer div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 400px;
	/*margin-bottom: 20px;*/
	font-size: .8em;
	line-height: 1em;
}

footer {
	display: flex;
	/*flex-direction: column;*/
	justify-content: center;
	background-color: #b6b0bf;
	padding-top: 2em;
	padding-bottom: 2em;
	font-weight: bold;
}

#logo_bottom {
	max-width: 20em;
	height: auto;
	padding-left: .5em;
	padding-right: .5em;
}

footer img {
    max-width: 2em;
	height: auto;
}

footer div img, p, a span {
	padding-bottom: 1em;
} 

#datemod, #name {
	padding: .5em;
}
.hidden {
	display: none;
}

/*****************discover page styles****************/



.discovermain {
	height: auto;
}

.discoverdiv {
	
	display: grid;
	justify-content: center;
	align-content: center;
	
}

.disc_pic {
	display: flex;
	justify-content: center;
	margin-top: .5em;
	margin-bottom: .5em;


}

.discoversec {
	padding: 2em;
    background-color: #cbc7d1;
    border-style: solid;
    border-color: #00003D;
    border-width: 0.1em;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    color: #00003D
}

.discoverp {
	font-size: .85em;
	padding-top: .5em;
	max-width: 333px;
	margin-bottom: 1em;
}

#discoverh2 {
	margin-top: .7em;
	margin-left: .5em;
	margin-bottom: .7em;
	font-size: 1.4em;
}

.discovcont {
	line-height: 1.7em;
	padding-top: .5em;
}

.discoverh3 {
	align-self: center;
	justify-self: center;
}

.discoverh3 {
	align-self: center;
}
#info2, #info3, #info4, #info5 {
	display: none;
}

#edu_demo_hous {
	display: none;
}

.museum {
	display: none;
}


/*image lazyloading*/
/*this adds the blur to image loading*/
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 3s;
  }

  .visitlabel {
    padding: 2em;
    background-color:#DCF4F9 ;
	border-radius: .2em;
   }

/*---------------styles for join page-------------------*/
   .center {
    margin-left: auto;
    margin-right: auto;
}

.maintable {
	padding: 0 2%;
	min-height: 20rem;
    display: block;

}


/*table styles*/

caption {
    caption-side: bottom;
    padding-top: .5em;
}

table {
    border-collapse: collapse;
    font-family: "Poppins", sans-serif;
	/*max-width: 400px;*/
}

tr td {
    border: 1px solid;
}

th, td {
    text-align: center;
    padding: .5em;
}

td {
    font-size: .75em;
    font-weight: bold;
}


tr:nth-child(even){
    background-color: lightsteelblue;
    color: black;
}

th {
    background-color: lightsteelblue;
}

.lefty {
    text-align: center;
    font-size: .9em;
    
}

.head2 {
    background-color: aliceblue;
    font-size: .9em;
    border: 1px solid;
}

.colormatch {
    background-color: lightsteelblue;
    font-size: 1.2em;
  
}

/*.maintable {
	display: block;
}*/

/*-------------Form styles-----------------*/

.formheader {
	font-size: 1.5em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: -1em;
	color: #146a7b;
	
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid #146a7b;
    border-radius: 10px;
    padding: .5rem 2%;

}

form legend {
    color: #146a7b;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
	padding-bottom: .5rem;
    color: #146a7b;
    font-size: 1rem;
}

form label.top {
	padding-bottom: 1rem;
}

.formlabelpad {
	padding-bottom: .5em;
	background-color: lime;

}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: 2rem;
    color:#555;
}

form input.submitBtn {
    border: none;
    background-color:#DCF4F9;
    color:#00003D;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
	box-shadow: 10px 10px 5px #555;
	font-size: 1.5em;
}

form label.top input:required {
    border-left: #ad471f solid 6px;
}

form label.top input:required:valid {
    border-left: #146a7b solid 6px;
}


.tell input {
	padding: 3rem;
	width: 30em;
	height: 30em;

}

textarea.tell {
	padding-top: 1em;
	padding-left: 1em;
	border: none;
	outline: none;
}

#formlabelpad {
	padding-bottom: 2em;
	background-color: lime;
	color: pink;

}

.hidden2 {
	display: none;
}



/*------------Thank you page styles-------*/
.thanksmessage {
	background-color: #00003d;
	color: whitesmoke;
	padding-top: 2em;
	padding-left: 2em;
	padding-bottom: 4em;
	padding-right: 2em;
	font-size: 1.2em;
	border-style: none;
	box-shadow: 10px 10px 5px #555;
	margin-top: 5em;
	margin-bottom: 10em;
}

#thanks{
	padding-bottom: 2em;
}

#downtownlg {
	max-width: 23rem;
	height: auto;
	margin-bottom: 5em;
	box-shadow: 5px 5px 3px #555;

}

#thanksmed {
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thanks-boxy {

	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;

}



/*this adds the blur to image loading*/
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 2s;
  }
#testimonials {
	display: none;
}

/*****************styles for directory page*****************/
h1{
    font-family: 'forum';
    font-size: 2.5em;
    align-self: center;
}

#directorytitle {
	font-family: 'Forum';
	font-size: 1.5em;
	display: grid;
	justify-content: center;
}

#reset {
	display: block;
	background-color: whitesmoke;
}
.cards {
    /*margin-left: 1rem;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1rem;
	background-color: whitesmoke;
}

.cards > section {
    background-color: #D5D2DA;
    color: black;
    margin: 1rem;
    padding: 1.5rem;
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px #231942;
 
  }

div.cards a {
	text-decoration: none;
	font-size: .75em;
	font-weight: bold;
}
	div.cards a:link {
		color: #24423F ;
	  }
	  
	  /* visited link */
	div.cards a:visited {
		color: #1D97AF;
	  }
	  
	  /* mouse over link */
	div.cards a:hover {
		color: #E07A52;
	  }
	  
	  /* selected link */
	div.cards a:active {
		color: #00003D;
	  }

#bye {
	display: none;

}

div.cards  h2{
    font-family: 'forum';
    font-size: 1.5em;
	padding-top: .2em;
	margin-bottom: .4em;
	display: flex;
	align-self: center;
}

div.cards  p{
	font-family: 'poppins';
    font-size: .75em;
    line-height: 1.3em;
	/*padding-top: 1em;*/
	/*background-color: pink;*/
	margin-bottom: 0em;
	font-weight: bold;
	
}

.cards  img {
 width: 200px;
 margin: 0 auto;
}

/*---------------Styles for Contact Page------------------------------*/

.contact_top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #84DAEB;
	padding-bottom: 2em;
}

/*#event_figure_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}*/

#help_pic_cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#bridge_sm_cont {
	max-width: 380px;
	align-self: center;
}



#cont_pic_info {
	font-size: .75em;
	margin-top: .25em;
	align-self: center;

}

#submit_cont {
	background-color: #84DAEB;
}

#cont_form_head {
	align-self: center;
	font-family: "forum";
}

#cont_form_div  {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#form_area_1 {
	background-color: rgba(132, 218, 235, 0.2);
	border: none;
}

#cont_form_legend {
	background-color: rgba(132, 218, 235, 0.2);
}


#cont_p {
	align-self: center;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-left: 2em;
	
}

#info_lgpg_contact {
	display: none;
}































