@media only screen and (min-width: 800px) {

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}

    .header-contents {
        background-color: paleturquoise;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        border-bottom: 1px solid #bbb;
    }

    header img {
        padding: 0;
    }
}