/*where did my h2's disappear to? Why am I in such a snarl?*/

@media only screen and (min-width: 650px) {

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

}

#top_logo {
max-width: 15em;
}

.social_icon {
	max-width: 2.2em;
	padding-left: 1em;
}

.socials {
	display: flex;
	flex-direction: row;
	padding-left: 2em;
	padding-right: 0em;
}

.date {
	font-size: 1em;
}

#herojoin {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 19em;
	margin-left: 0em;
	font-size: 1em;
}

#welcome {
	font-size: 2em;
}

#event {
	display: flex;
	align-content: center;
}


#event_figure {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#icesculp {

	max-width: 300px;
}

#weather figure{
	max-width: 10em;
}
.boxy, .boxyhidden, .spotlights {
	margin: 10px;
}

#hero {
	grid-column: 1/4;
	grid-row: 1/2;
	/*display: flex;
	justify-content: center;
	position: relative;*/
}



#heroimg {
	min-width: 100%;
}



#news {
	grid-column: 1/4;
	grid-row: 2/3;
}

#spot {
	grid-column: 1/4;
	grid-row: 3/4;
}

.hidden {
	display: flex;
}

#join {
	display: flex;
	grid-column: 1/4;
	grid-row: 4/5;
}

#event {
	grid-column: 1/3;
	grid-row: 5/5; 
}

.spotTitle {
	display: block;
}

.spotlights {
   display: flex;
   flex-direction: row;
}

.spotImg {
	max-width: 125px;
}

#memTitle {
	display: none;
}

.spotlight {
	margin: .15em;
	min-width: 180px;
	flex-wrap: wrap;
}

.spotAddress {
	font-size: .75em;
	align-self: center;
}

.spotWeb {
	font-size: 1em;
	text-decoration: none;
	align-self: center;
}
.spotPhone {
	font-size: .75em;
}

.spotTitle {
	display: flex;
}

#heroimg {
	max-width: 613px;

}

#event figure {
	display: flex;
	flex-direction: column;
	align-self: center;
}

figcaption {
	font-size: .65em;
	padding-top: .5em;
}

#weather div {
	padding: 0em;
}

#join_box {
	background-color: #A7E4F1;
	padding: .5em;
	color: #A7E4F1;
	border-radius: .8em;
}

#join_text {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;	
}

#join_text:link{
	color: #00003D;
}

#join_text:hover{
	color: #E07A52;
}

#join_text:active{
	color: #E07A52;
}

#join_text:visited{
	color: #24423F;
}

#logo_bottom {
	max-width: 280px;
	margin-bottom: 1em;
}

#join_box {
	margin-top: 1.3em;
}

.footer_cont_mappy {
	margin-left: 4em;
}

.footer_chamber_info {
	flex-direction: row;
}

.footstuff {
	width: 645px;
	padding-left: 3em;
	padding-right: 3em;
}

.footer_icon_addr {
	align-items: flex-start;
}

#footer_line {
	margin-top: 1em;
}

.vert {
	display: inline-flex;
	color: #00003D;
	width: auto;
	height: 25px;
    margin-bottom: -4px;
	/*margin-left: 0;*/

}






/***************style for discover page****************/

.main {
	margin-right:6em;
	margin-bottom: 5em;
}


#info2, #info3, #info4, #info5 {
	display: flex;
	justify-self: center;
	align-content: center;
}


.main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-rows: 1fr 1fr 1fr 1fr;*/

}

.discovermain {
	grid-column: 1/2;
	grid-row: 1/6;
}

.discoversec p{
	
	align-self: center;
}

#history {
	grid-column: 2/4;
	margin-top: 4em;
	margin-bottom: 4em;
}
#museum {
	padding-top: 5em;
}

#info1 {
	
	grid-column: 2/3;
	grid-row: 2/3;
}

#info2 {
	
	grid-column: 3/4;
	grid-row: 2/3;
}
#info3 {
	
	grid-column: 2/3;
	grid-row: 3/4;
}

#info4 {
	
	grid-column: 3/4;
	grid-row: 3/4;
}

#info5 {
	
	grid-column: 2/4;
	grid-row: 4/6;
	margin-bottom: 4em;

}

#edu_demo_hous {
	display: flex;
}

.museum {
	display: flex;
	margin-top: 4em;
	
}

.hover:hover {
	box-shadow: 0 0 50px #6692ac;
}

.visitlabel {
	margin-top: 4em;
    padding: 2em;
    background-color:#DCF4F9 ;
	border-radius: .2em;
	margin-top: 5em;
   }

#home_box {
	display: flex;
	justify-content: center;
}

#home {
	display: flex;
	justify-content: center;
}




/*--------------styles for thanks page-----------*/


/*
.thanksmessage {
	grid-column: 1 / 4;
	
	/*grid-row: 1/2;*/
/*}
/*
.left-sidebar {
	grid-column: 1/4;
	/*grid-row: 2/3;*//*
}*/

.thanksmed {
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}


#downtownlg {
	max-width: 600px;
	height: auto;
	margin-bottom: 5em;
	box-shadow: 5px 5px 3px #555;
	margin-top: -150px;

}

#testimonials {
	display: flex;
	grid-column: 1/4;
	box-shadow: 5px 5px 3px #555;
	margin-bottom: 5em;
	border: none;
	background-color:#A7E4F1;

}

.testimonial {
    margin: 2em;
    line-height: 1.5em;
}



/*------------Join Page Styles---------*/
#memberships {
	margin-left: 4em;
  
}


th, td {
    padding: .65em;
}

td {
    font-size: 1.2em;
}

.lefty {
    font-size: 1.8em;   
}

.head2 {
    font-size: 1.3em; 
}

.colormatch {
    font-size: 2em;
}

.formheader {
  
    margin-top: 2em;
    margin-bottom: -1em;
   
}

/**************************directory page styles*********************/

#directorytitle {

	font-size: 2em;
}

.list .cards > section {
	flex-direction: row;
	padding: .75rem;
	margin: 0rem;
}



.list div h2{
    color: black;
	font-size: 1em;
	font-weight: bold;
}

.list p {
	padding-left: .2em;
	font-size: .75em;
}




}