

body {
    font-family: 'Mukta Malar', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
    color: black;
    margin:0 auto; 
}

/*this adds the blur to image loading*/
img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 2s;
  }



header {
    background-color: #D2F6CB;
    padding: 1.5rem;
    display: grid;
    grid-template-rows: auto;
    justify-content: center;
}

.logo-name {
    /*display: flex;*/
    text-align: center;
    /*margin-bottom: 2rem;*/
   /* padding-left: 3rem;
    padding-right: 3rem;
    /*min-width: 300px;*/
    /*background-color: lime;*/
}

.logo-name img {
    width: 75px;
    height: auto;
    margin-left: 1em;
    margin-right: 1rem;
  
   
}

header h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    color: #C36276;
    /*width: 20rem;*/
}

.top-nav {
    display: flex;
    flex-direction: row;
   /* background-color: lime;*/
   /* margin-top: 2rem;*/
}

.top-nav a {
    text-decoration: none;
    color: black;
    background-color: #DDA6B1;
    font-size: 16px; 
    font-weight: bold;
    padding: 1.5rem;
    margin-right: 1.5rem;
    border-radius: 3rem;
   
}

.top-socials img {
    max-width: 2em;
    display: none;
}

.hero {
    display: none;
}

.big-content {
    text-align: center;
    padding: 2em;
    margin: .5em;
    border: 3px solid #B4F0A8;
}

.big-content p {
    text-align: left;
}

.big-content h2, h3, h4, h5, h6 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    color: #C36276;
    text-shadow: 2px 2px 1px #DDA6B1;
    padding: 0px;
    margin: 0px;
    line-height: 2rem;
}

#real-freshy {
   text-align: center;
}

#peaches-sm {
    border-radius: 1rem;
    max-width: 300px;
}

#real-freshy p {
    text-align: center;
}

#peaches-lg {
    display: none;
}

#fruity {
    display: flex;
    justify-content: center;
    background-image: /*linear-gradient(rgba(215, 195, 195, 0.5), rgba(215, 204, 204, 0.5)),*/
    url("/bountiful-foods/images/smoothie_tiny.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 5em;
    border-radius: 1rem;
    
}

#fruity a {
    text-decoration: none;
    background-color:#C36276;
    color:#ffe65a;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 2.5px #D89194;
    /*min-width: 250px;*/
}

/*#weather-factor div {  
    background-color: aqua;
}*/

#weather-factor p {
    text-align: center;
}

#weather, #freshy, #forecast {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #D2F6CB;
    margin-top: 1rem;
}

#fresh-title, #forecast-title {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    color: #C36276;
    text-shadow: 2px 2px 1px #DDA6B1;
}

#mission a {
    display: none;
}

#mission img{
  
    align-self: center;
    max-width: 300px;
    margin: 0rem;
    border-radius: 1rem;
}

#berries {
    display: none;
}

#area-info img {
    max-width: 300px;
    border-radius: 1rem;
}

#store img {
    max-width: 300px;
    border-radius: 1rem;
}

footer {
    background-color: #E9C4CB;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

#logo-foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
 
}

#logo-foot-p {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.2rem;
    color: white; 
    padding-right: 1.6rem; 
    text-shadow: 2px 2px 1px black; 
}

#logo-foot img{
    max-width: 45px;
    max-height: 45px;
    /*padding-right: 1rem;*/
}

#socials-foot img{
     max-width: 35px;
     padding: 0rem;
     margin-top: .75rem;
}

#copy-foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*padding-top: 2rem;*/
    background-color: #E9C4CB;
}

#copy-foot p {
    color: rgb(26, 24, 24);
    font-size: 1rem;
}

#becky{
    padding-left: 2rem;
}

#contact {
    display: none;
    flex-direction: column;
    color: rgb(26, 24, 24);
    font-size: 1.2rem;
    line-height: 0%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-weight: bold;

}

#contact p {
    margin-bottom: 1%;
    color: #FFE65A;
    text-shadow: 1.3px 1.3px 1px black; 

}

#modified {
    margin-top: 2rem;
}





/***************************Fresh Page*******************************/

#formy {
    margin-left: 3%;
    margin-right: 3%;
    

}

#notfresh {
    display: none;
}

.formheader {
	font-size: 1.5em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: -1em;
	color: #C36276;
    text-align: center;
	
}

form fieldset {
    margin: 2rem 0;
    border: 3px solid #D2F6CB;
    border-radius: 10px;
    padding: .5rem 2%;

}

form legend {
    color: #C36276;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
	padding-bottom: .5rem;
    color: #C36276;
    font-size: 1rem;
}

form label.top {
	padding-bottom: 1rem;
}

.formlabelpad {
	padding-bottom: .5em;
	background-color: lime;

}

form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: 2rem;
    color:#555;
}

#submitForm {
    border: none;
    background-color: #DDA6B1;
    color:black;
    border-radius: 1rem;
    padding: .50rem .75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
	font-size: 1rem;
    text-align: center;

}

form input.submitBtn {
    border: none;
    background-color: #C36276;
    color:whitesmoke;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
	box-shadow: 10px 10px 5px #555;
	font-size: 1.5em;
}

#specs {
    background-color: #F0FCEE;
    padding: 1rem;
    border-radius: 1rem;
}


form label.top input:required {
    border-left: #C36276 solid 6px;
}

form label.top input:required:valid {
    border-left: #D2F6CB solid 6px;
}


.tell input {
	padding: 3rem;
	width: 30em;
	height: 30em;

}

textarea.tell {
	padding-top: 1em;
	padding-left: 1em;
	border: none;
	
}



.chooseFruit {
    font-family:'Mukta Malar', sans-serif;
    font-size: 16px;
    color: #C36276;
    
}

.choosediv select {
   padding: 1rem;
   background-color: #F0FCEE;
   margin-top: 1rem;
   /*margin-left: 1rem;
   align-items: center;*/
   margin-bottom: 2rem;
   border-radius: 1rem;
   width: 100%;
}

.hidden2 {
	display: none;
}







/***************************Contact Page****************************/
.hero-contact {
    display: none;
    justify-content: center;
    background-image: 
    url("/bountiful-foods/images/smoothies-hero2.webp");
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 5em;
}

#history img{
  
    align-self: center;
    max-width: 300px;
    margin: 0rem;
    border-radius: 1rem;
}

#map iframe {
    max-width: 300px;
  
}

/****************************Thank You ****************************************/
#lgpic {
    display: none;
    border-radius: 1rem;
}

#thanksp {
    text-align: center;

}

#smpic {
    border-radius: 1rem;
}

#medpic {
    display: none;
    border-radius: 1rem;
}

#thanks {
    border: none;
    margin-top: 2rem;
    margin-bottom: 15rem;
}

