@media only screen and (min-width: 650px) {

header {
    grid-template-columns: 1fr 1fr;
}

header h1 {
    font-size: 1.5rem;
}

.top-socials {
    display: none;
    flex-direction: row;
  
}

.top-socials img{
    display: flex;
    flex-direction: row;
    padding-right: 1.5em;
}


.logo-name {
    display: flex;
    flex-direction: row;
    padding-right: 2em;
    justify-content: center;
    align-items: center;
}

.logo-name img {
 
    width: 60px;
    height: 60px;
    margin-left: 1rem;
    margin-right: 1rem; 
}

#socials-topnav {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;

}

.top-nav {
    align-items: center;
    margin-right: 2rem;
}

.top-nav a {
    text-decoration: none;
    color: #ffe65a;
    background-color: #C36276;
    padding: .75rem;
    margin-right: .75rem;
    border-radius: 1rem;
    border-color: none;
}

 

.hero {
    display: flex;
    justify-content: center;
    background-image: 
    url("/bountiful-foods/images/smoothie_hero.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 5em;
  }

 
  
  .hero-text {
      display: flex;
  }
  
  .hero-text  a {
      color: #ffe65a;
      font-size: 2em;
      padding: 1em;
      text-decoration: none;
      background-color: #C36276;
      border-radius: 3rem;
  }

  #contact {
      display: flex;
}

.split-grid {
    margin-right: 2rem;
    margin-left: 2rem;
}
.big-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2em;
    margin: .5em;
    border: 3px solid #B4F0A8;
}

.big-content p {
    text-align: left;
}

#area-info img {
    max-width: 500px;
   
}

#mission img {
    max-width: 475px;
}

#store img {
    max-width: 475px;
}

#berries {
    display: flex;
    align-self: center;
    max-width: 300px;
    margin: 0rem;
    border-radius: 1rem;
}

#mission a {
    display: flex;
    align-self: center;
    text-decoration: none;
    background-color:#C36276;
    color:#ffe65a;
    padding-top: 1rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
    padding-left: 10rem;
    font-size: 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 2.5px #D89194;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

body {
    font-size: 18px;
}

.big-content {
    padding: 3rem;
}

#weather-factor {
    flex-direction: row;
    justify-content: center;
}

#weather, #freshy, #forecast {
   
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    background-color: #D2F6CB;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
/*
#real-freshy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
   /* margin-top: 1rem;*/
/*}*/

#freshy-text {
    padding: .5rem;
    margin-right: 1rem;
}

#peaches-lg {
    display: flex;
    max-width: 600px;
    border-radius: 1rem;
}

#peaches-sm {
    display: none;
}



#fruity {
    align-items: center;
}

#fruity a {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#logo-foot img {
    margin-right: 1rem;
}

#contact {
    margin-right: 2rem;
    margin-left: 0rem;
}

/**************Contact Page************************/
.hero-contact {
    display: flex;

}

#history img {
    max-width: 475px;
}

#map iframe {
    max-width: 450px;
  
}

/***********************Thanks**************************/


#smpic {
    display: none;
}

#medpic {
    display: flex;
}

/************************Fresh****************************/

#formy {
    margin-left: 10%;
    margin-right: 10%;
    

}

}