/*This aligns the content in the center of the page*/
body {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-align: center;
    width: 800px;
    text-align: left;
    border: 0px;
    padding: 0;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

img {
    max-width: 200px;
    height: auto;
    border-radius: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px
}

header {
    background-color: lavenderblush;
    width: 100%;
    display: flex;
}

h1 {
   padding-top: 100px;
   padding-left: 20px;
   padding-right: 40px;
   font-size: 30px;
   font-family: 'Courgette', cursive;;
}

